global:
  scrape_interval: 10s
  external_labels:
    monitor: 'fuse-karaf'
    
scrape_configs:
  - job_name: 'fuse-karaf'
    scrape_interval: 10s
    static_configs:
      - targets: [localhost:9095]


#curl -s https://api.github.com/repos/prometheus/prometheus/releases/latest | grep browser_download_url | grep linux-amd64 | cut -d '"' -f 4 | wget -qi -